
body {
    font-size: 15px;
    font-family: League Spartan;
    max-width: 100%;
}

main {
    margin: 40px;
    margin-right: 100px;
    margin-left: 100px;
    padding: 50px;
}
footer {
    text-align: center;
    margin-top: 10px;
}

h1 {
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    font-size: 55px;
    line-height: 0.8;
    margin-right: 10px;
}

li {
list-style: none;
background-color: hsl(330, 30%, 95%);
border-radius: 5px;
margin-top: 15px;
margin-bottom: 15px;
padding-top: 15px;
padding-bottom: 15px;
color: hsl(300, 43%, 22%);
font-weight: 700;
text-align: center;
}


p {
color:hsl(303, 10%, 53%);
}

.star-reviews {
    display: flex;
    height: 12rem;
    gap: 1rem;
}

.start-reviews {
    align-self: start;
    height: 5rem;
}

.stars-reports {
    align-self: center;
}

.starts-besttech {
    align-self: end;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.reviews {
display: flex;
height: 12rem;
gap: 1rem;
margin-top: 60px;
}

.review-one , .review-two , .review-three{
    background-color: hsl(300, 43%, 22%);
    color: hsl(0, 0%, 100%);
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.review-one {
  align-self: start;
}

.review-two {
    align-self: center;
}

.review-three {
align-self: end;
}

.review-author {
    color: white;
    margin-bottom: 0;
}

.verified-buyer {
    color: hsl(333, 80%, 67%)
}
a {
    text-decoration: none;
}