
body {
    font-size: 15px;
    font-family: League Spartan;
}

main {
    margin: 40px;
    margin-right: 100px;
    margin-left: 100px;
    padding: 50px;
}
footer {
    text-align: center;
    margin-top: 10px;
}

h1 {
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    font-size: 60px;
    line-height: 1;
    margin-right: 10px;
}

li {
list-style: none;
background-color: hsl(330, 30%, 95%);
border-radius: 5px;
margin-top: 15px;
margin-bottom: 15px;
padding-top: 15px;
padding-bottom: 15px;
color: hsl(300, 43%, 22%);
font-weight: 700;
text-align: center;
}


p {
color:hsl(303, 10%, 53%);
}

.star-reviews {
display: flex;
}

.reviews {
display: flex;
height: 12rem;
gap: 1rem;
margin-top: 60px;
}

.review-one , .review-two , .review-three{
    background-color: hsl(300, 43%, 22%);
    color: hsl(0, 0%, 100%);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.review-one {
  align-self: start;
}

.review-two {
    align-self: center;
}

.review-three {
align-self: end;
}

.review-author {
    color: white;
    margin-bottom: 0;
}

.verified-buyer {
    color: hsl(333, 80%, 67%)
}
a {
    text-decoration: none;
}